header{
    width: 100%;
    height:40px;
    background-color: #0066ff;
}
header h1{
    text-align: center;
    line-height: 40px;
    color:#ffffff;
    font-size: 20px;
}

#bodyAll .container{
    max-width: 640px;
}

.container .panel{
    padding: 5px 5px;
    margin: 5px 0px;
}

.container .panel-body{
    padding: 0px;
}

.container .panel-body ul li{
    text-align: center;
}



 .container ul{
    float: left;
    width: 25%;
}